* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.date-picker {
  position: relative;
}

/* date-input */
.date-input {
  width: 300px;
  height: 60px;
  margin: 30px auto;

  border: 1px solid red;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

  font-size: 28px;

  cursor: pointer;
}
.date-input:hover {
  background-color: #f3f3f3;
}

/* calender */
.calendar {
  /* display: none; */
  width: 700px;

  display: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;

  background-color: antiquewhite;
  outline: 2px solid lightgrey;
  overflow: hidden;
}

.month {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
  width: 35px;
  height: 35px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s; */
}

.days {
  display: flex;
}

.day {
  width: 100px;
  height: 50px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid black;
}

.date {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
