body {
  /* background-color: tan; */
  width: 500px;
  margin: 4% auto;
  font-family: Roboto, "san-serif";
  letter-spacing: 4px;
  font-size: 1.8rem;
}

h1 {
  margin: 30px auto;
  padding: 20px;

  text-align: center;
  font-size: 2.5rem;

  /* Check Size */
  /* border: 1px solid black; */
}

.calculator {
  margin: 30px auto;
  padding: 20px;

  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  /* Check Size */
  /* border: 1px solid black; */
}

.input {
  display: flex;
  align-items: center;
  justify-content: right;
  /* text-align: right; */

  height: 60px;

  padding: 12px;

  border: 1px solid #ddd;
  border-radius: 1px;
  font-size: 2.5rem;
}

.input:hover {
  border: 1px solid #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons {
  /* border: 1px solid red; */
}

.operators {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.operators div {
  display: inline-block;
  width: 80px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.operators div:hover {
  background-color: #ddd;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators div:active {
  font-weight: bold;
}

.panel {
  display: inline-block;
  height: 280px;
}

.numbers div {
  display: inline-block;
  width: 80px;
  margin: 10px 6px 10px 0;
  padding: 10px;

  border: 1px solid #ddd;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.numbers div:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;

  width: 80px;
  margin: 8px auto;
  padding: 120px 10px;
  border-radius: 1px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #4d90fe;
  transition: all 0.2s ease-in-out;

  /* border: 1px solid #3079ed;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  

  */
}

div.equal:hover {
  background-color: #307cf9;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857bb;
}

div.equal:active {
  font-weight: bold;
}
