* {
  box-sizing: border-box;
  user-select: none;
}

body {
  /* background-color: khaki; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div#lineWidthContainer {
  display: flex;
}

fieldset#lineWidthTitle {
  width: 120px;
  height: 40px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
}

input#lineWidth {
  margin: 10px;
  /* padding: 10px 20px; */
  width: 120px;
  height: 40px;
}

div#colorContainer {
  display: flex;
}

input#lineColor {
  margin: 10px;
}

input#lineColor {
  /* background-color: red; */
}

div#colors {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.color {
  width: 30px;
  height: 30px;
  margin: 10px;

  border-radius: 50px;
  box-shadow: 0 0 3px 1px #ccc, 0 0 0 5px #ddd;
  display: inline-block;
}

button#modeButton {
  width: 120px;
  height: 40px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
}

canvas {
  /* width: 500px;
  height: 500px;
  margin: 60px 0px; */
  /* border: 2px solid black; */
}
